%nav.mdl-navigation
  %a.mdl-navigation__link{href: '/'}
    = t('.root')
  %a.mdl-navigation__link{href: '/brands'}
    = t('.brand_list')
  %a.mdl-navigation__link{ href: 'https://github.com/r72cccp/test201607082330', rel: 'nofollow', target: 'blank' }
    .github-icon
    = t('.github_repo')
