%nav.mdl-navigation
  %a#add-random-sentence-navigation-link.mdl-navigation__link{href: '#'}
    = t('.add_random_sentence')
  %a.mdl-navigation__link{href: 'https://github.com/r72cccp/floodapp', rel: 'nofollow', target: 'blank'}
    .github-icon
    = t('.github_repo')
