%section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  %header.section__play-btn.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone.mdl-color--teal-100.mdl-color-text--white
    %i.material-icons play_circle_filled
  .mdl-card.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--6-col-tablet.mdl-cell--4-col-phone
    .mdl-card__supporting-text
      %h4 Features
      Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
    .mdl-card__actions
      %a.mdl-button{href: '#'} Read our features
  %button#btn1.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
    %i.material-icons more_vert
  %ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right{for: 'btn1'}
    %li.mdl-menu__item Lorem
    %li.mdl-menu__item{disabled: 'disabled'} Ipsum
    %li.mdl-menu__item Dolor
%section
