%button#btn2.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
  %i.material-icons more_vert
%ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right{for: 'btn2'}
  %li.mdl-menu__item Lorem
  %li.mdl-menu__item{disabled: 'disabled'} Ipsum
  %li.mdl-menu__item Dolor
