%section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  .mdl-card.mdl-cell.mdl-cell--12-col
    .mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing.layout-waterfall__readme-text
      - markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true)
      = markdown.render(File.read("#{Rails.root}/README.md")).html_safe
