!!!
%html
  %head
    = render 'shared/head'
  %body.layout-waterfall.mdl-color--grey-100.mdl-color-text--grey-700.mdl-base
    .mdl-layout.mdl-js-layout
      = render 'shared/header'
      = render 'shared/sidebar'
      %main.mdl-layout__content
        .mdl-layout__tab-panel.is-active{ data: { type: 'ajax-container' }}
          = yield
